JWT_SECRET=aVerySecretKeyThatIsAtLeast256BitsLongAndShouldBeStoredSecurely
SPRING_DATASOURCE_PASSWORD=1234
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
WOMPI_PRIVATE_KEY=prv_test_your_private_key
WOMPI_PUBLIC_KEY=pub_test_your_public_key
WOMPI_REDIRECT_URL=http://localhost:3000/payment/result
WOMPI_CALLBACK_URL=http://localhost:8084/api/v1/payments/callback/wompi
